* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize;
  }